$DodgerBlue: #1E90FF;
$DeepSkyBlue: #00BFFF;
$body_color: #2C2C2C;
$black: #07090C;
$white: #DDD;
$border_search: #EF233C;
$border_search_shadow: rgba(0, 0, 0, 0.4);
$alert-red-back: #f2dede;
$alert-red-bor: #eed3d7;
$alert-red-text: #b94a48;
$alert-green-back: #dff0d8;
$alert-green-bor: #d6e9c6;
$alert-green-text: #468847;
$facebook: #3b5999;
$twitter: #00aced;
$google: #d44332;
$instagram: #8A3AB9;
$youtube: #E31010;
$rss: #FE7E00;
